* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set global font styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding: 20px;
}

/* Define a primary color palette using CSS variables */
:root {
    --primary-color: #043A53;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
}

/* Apply color styles to elements */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

p {
    font-size: 1rem;
}

/* Style links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ensure consistent spacing */
header, main, footer {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 0;
}

.align-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 18px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
}

.btn-primary {
    background-color: var(--primary-color);
    /* background-color: aquamarine; */
    color: white;
}

.heading {
    font-size: 44px;
    font-weight: bold;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.web-break {
    display: inline;
}

.mobile-break {
    display: none;
}

/* hero section styles */

#hero {
    text-align: center;
    background-color: #F2F5F6;
    padding: 50px 20px;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
}

.inner-hero-content {
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #043A53;
}

.btn-check-video {
    background-color: inherit;
}

.play-icon {
    margin-bottom: -0.6rem;
}

.hero-para {
    font-size: 1.1rem;
    color: #12141D;
}

/* brands section styles */

#brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 60px;
}


@media (max-width: 768px) {

    body {
        padding: 0px;
        /* line-height: 1.2; */
    }

    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: block;
    }

    .web-break {
        display: none;
    }

    .mobile-break {
        display: inline;
    }

    /* hero section responsiveness ticket-4 */
    .hero-content {
        flex-direction: column; 
        text-align: center;
        /* gap: 5; */
    }

    .heading {
        font-size: 28px;
    }

    .hero-para {
        font-size: 0.8rem;
    }

    /* brands section responsiveness */

    #brands {
        flex-direction: column;
        gap: 20px;
    }
}